@font-face {
    font-family: Tic;
    src: url('/PermanentMarker-Regular.ttf');
}

body {
    height: 100vh;
    background-image: url('./Untitled\ design\ \(2\).png');
    /*background: linear-gradient(to bottom, #180022, #2c003e);*/
    background-size: cover;
    
}

#logo{
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: -15px;
}
table {
    border-collapse: separate;
    border-spacing: 10px; /* add spacing between table lines */
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
    background-color: rgb(240, 255, 24);
  }
  
  .cell {
    width: 120px;
    height: 120px;
    background-color: #7005b8;
 
    border-radius: 10px ;
    text-align: center;
    font-family: Tic;
    font-size: 48px;
    color: #ffffff;
    font-weight: bold;
    
  }
  
  .cell:hover {
    background-color: #e0e0d9;
    color: #000000;
  }
  button {
    display: block;
    margin: 20px auto 0;
    padding: 0.1em 0.25em;
    width: 13em;
    height: 4.2em;
    background-color: #212121;
    border: 0.08em solid #fff;
    border-radius: 0.3em;
    font-size: 12px;
  }
  
  button span {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0.4em;
    width: 8.25em;
    height: 2.5em;
    background-color: #212121;
    border-radius: 0.2em;
    font-size: 1.5em;
    color: #fff;
    border: 0.08em solid #fff;
    box-shadow: 0 0.4em 0.1em 0.019em #fff;
  }
  
  button span:hover {
    transition: all 0.5s;
    transform: translate(0, 0.4em);
    box-shadow: 0 0 0 0 #fff;
  }
  
  button span:not(hover) {
    transition: all 1s;
  }
  
  